[submodule "libs"]
	path = libs
	url = https://github.com/SBKarr/stappler-deps.git
[submodule "extensions/spwasm"]
	path = extensions/spwasm
	url = https://github.com/SBKarr/spwasm.git
	branch = master
