build
.DS_Store
project.xcworkspace
xcuserdata

.build.config.json
.cmd*
.settings

*.iml

/serenity/gen
/libs/src
/libs/stappler-cocos2d-x
/libs/android/toolchains
/libs/android/arm64-v8a
/libs/android/armeabi
/libs/android/armeabi-v7a
/libs/android/x86
/libs/android/x86_64
/libs/linux/x86_64
/libs/mac/x86_64
/libs/win32/x86_64
/libs/win32/i686
/libs/ios/arm64
/libs/ios/armv7
/libs/ios/armv7s
/libs/ios/i386
/libs/ios/lib
/libs/ios/x86_64
/libs/lib
/ios/export.xcconfig
