doctype html
html
	head
		title Pug If Test
	body
		- var user = { description: 'foo bar baz' }
		- var authorised = false
		p.description test
		#user
			if user.description
				h2.green Description
				p.description= user.description
			else if authorised
				h2.blue Description
				p.description.
					User has no description,
					why not add one...
			else
				h2.red Description
				p.description User has no description

			unless authorised
				p You're not logged in
			else
				p You're logged in as #{user.name}