doctype html
html
	head
		title Serenity Shell
		link(rel="stylesheet",href="/__server/virtual/css/style.css")
		link(rel="stylesheet",href="/__server/virtual/css/kawaiJson.css")
		script(src="/__server/virtual/js/kawaiJson.js")
		script(src="/__server/virtual/js/shellHistory.js")
		script(src="/__server/virtual/js/shell.js")
	body(onload="init();")
		h4 Serenity admin shell (#{version})
		if hasDb
			if setup
				form#login(onsubmit="return connect(this);")
					input#ws_name(type="text",name="name",placeholder="User name",value="",size="24")
					input#ws_name(type="password",name="passwd",placeholder="Password",value="",size="24")
					input(type="submit")
				#connected Not Connected
				#main(style="visibility:hidden")
					| Enter Message:
					input#input(type="text",name="message",value="",size="80")
					br
					|
					| Server says...
					#output
				input#fileSelector(type="file",style="visibility:hidden")
		else
			p No database connection in this handler
