body {
	background: #f5f5f5;
}

body.api {
	padding-left: 210px;
	margin: 0;
}

#output p {
	margin: 0;
	padding: 0;
	white-space: pre-wrap;
}

.content {
	width: 99%;
	height: 1600px;
	padding-left: 10px;
	white-space: pre-wrap;
	font-family: monospace;
	-moz-tab-size: 4;
}

.sidebar {
	position: fixed;
	height: 100%;
	width: 200px;
	top: 0;
	left: 0;
	background: #303f9f;
	box-shadow: 0 0 6px rgba(0,0,0,0.5);
	color: white;
}

.key { font-weight: bold }
.bool,.integer,.float { color: blue }
.string,.bytes { color: green }
.null { color: red }
.key > .quote { opacity: 0 }

.sidebar > h3 {
	font-family: sans;
	margin-left: 10px;
}

.sidebar a:link {  color: #f5f5f5; }
.sidebar a:visited {  color: #ddd; }

.actions { }

.delete {
	color: white;
	background: #d50000
}

.edit {
	color: white;
	background: #303f9f
}

.edit,.delete {
	opacity: 0.4;
	line-height: 3em;
	padding: 0.5em;
	text-decoration: none;
	border-radius: 0.5em;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none;
}

.edit:hover,.delete:hover { opacity: 1.0 }
.error { color: red }

.code {
	font-family: monospace;
	margin: 0 0 0 10px;
	padding: 0;
}

span.time {
	font-family: monospace;
	color: gray;
}

span.ip {
	font-family: monospace;
	color: blue;
}

span.server {
	font-weight: bold;
}
